<!DOCTYPE html>
<html>

<head>

    <style>
		body{margin:0;padding:0;font-family:'Nanum Pen Script', serif;font-size:20px;overflow-x:hidden; overflow-y:auto;}
		#head{padding-top:10px;padding-bottom:10px;padding-left:10px;background:rgba(190,35,25,1);color:white;position:fixed;top:0px;width:100%;display:block}
		#head > img {padding-right:20px}
		#lobby > ul {padding:0;margin:0; }
		li{list-style:none;margin:1px;padding:1px;color:white;clear:both;display:block;}
		p{display:inline-block}
		.me{margin:1px;padding:1px;}
		.me > p:nth-child(1){margin:3px;padding:5px;background:rgba(192,180,160,0.5);color:rgba(20,20,20,1);word-break:break-all;width:65%;border-radius: 5px;}
		.me > p:nth-child(2){line-height:10px;width:20%}
		.other{margin:1px;padding:1px;}
		.other > p:nth-child(1){line-height:10px;width:20%}
		.other > p:nth-child(2){margin:3px;padding:5px;background:rgba(192,180,160,0.5);color:rgba(20,20,20,1);word-break:break-all;width:65%;border-radius: 5px;}
		#send{float:right;padding-right:20px;width:20%}
		#lobby{background:black;width:229px; height:330px;}
		#messagearea{position:fixed;bottom:30px;}
		#message{width:70%}
		.macaotalkview{position:fixed;bottom:0px;background: url(./images/macaotalkbutton.png) no-repeat;width:96px;height:29px;border:none}
    </style>
</head>

<body>
<div class="messageBody">
	<div class="messageview">
		<div id="head"><img src="./images/chatbox.png" />마카오 톡 </div>
		<div id="lobby">
			<ul id="messageShow">
			</ul>
		</div>
	</div>
	<div id="messagearea">
		<input type="text" id="message" /><input type="button" id="send" value="전송" />
	</div>
</div>
<input type="button" class="macaotalkview" />

<script type="text/javascript" src="http://cdn.socket.io/socket.io-1.4.0.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>

	 
    var serverURL = 'localhost:50000';
	var getParameter = function (param) {

		var returnValue;
		var url = location.href;
		var parameters = (url.slice(url.indexOf('?') + 1, url.length)).split('&');
			for (var i = 0; i < parameters.length; i++) {
				var varName = parameters[i].split('=')[0];
					if (varName.toUpperCase() == param.toUpperCase()) {
						returnValue = parameters[i].split('=')[1];
						return decodeURIComponent(returnValue);
					}
				}
	};
    var name = ''
    if(getParameter("mem_id")!=undefined){
    	name = getParameter("mem_id");
    }
    var room = '100';

    var socket = null;
	
	
    
    function writeMessage(type, name, message) {
    	if(type=='system'){
	    	 var html = '<li>{MESSAGE}</li>';
	
	        html = html.replace('{MESSAGE}',message + name);
	
	        $(html).appendTo('#messageShow');
	        $('body').stop();
	        $('body').animate({scrollTop:$('body').height()}, 500);
    	}else if(type=='me'){
    	
        var html = '<li class="me">{MESSAGE}</li>';

        html = html.replace('{MESSAGE}','<p>'+message+'</p>'+'<p>'+name+'</p>');

        $(html).appendTo('#messageShow');
        $('body').stop();
        $('body').animate({scrollTop:$('body').height()}, 500);
        }
    	else{
    	
        var html = '<li class="other">{MESSAGE}</li>';

        html = html.replace('{MESSAGE}', '<p>'+name+'</p>' + '<p>'+message+'</p>');

        $(html).appendTo('#messageShow');
        $('body').stop();
        $('body').animate({scrollTop:$('body').height()}, 500);
        }

    }

    function sender(text) {

        socket.emit('user', {
            name : name,
            message : text
        });

        writeMessage('me', name, text);
    }

    $(document).ready(function() {
    	
    	$('.messageBody').hide();
    	
    	$('.macaotalkview').on('click',function(){
	    	$('.messageBody').toggle();
	    	
    	})
        socket = io.connect(serverURL);

        socket.on('connection', function(data) {
            console.log('connect');
            if(data.type === 'connected' && name!= '') {
                socket.emit('connection', {
                    type : 'join',
                    name : name,
                    room : room
                });
	 	  	 	$('#message').prop('disabled',false);
            }else{
	 	  	 	$('#message').val('로그인하세요');
	 	  	 	$('#message').prop('disabled',true);
	 	  	 }
        });

        socket.on('system', function(data) {
            writeMessage('system', 'system', data.message);
        });

        socket.on('message', function(data) {
            writeMessage('other', data.name, data.message);
        });
		
		
	    $('#send').click(function() {
		
			if(name!=''){
		       var $input = $('#message');
		
		       var msg = $input.val();
		       sender(msg);
		       $input.val('');
		       $input.focus();
	
		 	 }
	
	    });
	
	    $('#message').on('keypress', function(e) {
			if(name!=''){
		        if(e.keyCode === 13) {
	
		        var $input = $('#message');
		
		        var msg = $input.val();
		        sender(msg);
		        $input.val('');
		        $input.focus();
		        }
	        }
	    });
	    
	   
    });

</script>

</body>
</html>